<ul>
  <li>
    Name: <%= local_assigns.name %>
  </li>
  <li>
    Birthday: <%= local_assigns.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= local_assigns.hometown.capitalize %>
  </li>
</ul>
